
.filter-container{
  margin: 20px 0px;
  padding: 0px 2vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

input[type=radio]{
  margin-left:10px;
  margin-right:5px;
}

.filter-hover:hover{
  cursor: pointer;
}

.filter-hover{
  margin-top: 5px;
}
